<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
    <add name="TaskEntities" connectionString="metadata=res://*/Task.csdl|res://*/Task.ssdl|res://*/Task.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LT036127\SQLEXPRESS2014;initial catalog=Task;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>